# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* List Popular Languages for data Science
* List common used libraries 
* List Data Science Tools
* Evaluate arithmetic expressions
* How to use markdowns including formatting ( headers, bold, ordered/unordered lists)

## Author
Hannah Sugrue Burnell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL Languages
4. Scala
5. Java
6. C++

Some of the common used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Sclkit-learn
6. Tensorflow
7. Pytorch
8. Apache Spark
9. Vegas
10. ggplot2

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Zepplin|
|R Studio|

### Below are a few examples of evaluaing arithmetic expressions in Python.

In [3]:
# This is a simple arithetic expression to multiply then ass intergers
(3*4)+5

17

In [4]:
#This will convert 200 minuite to hours by dividing by 60
200/60

3.3333333333333335